* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neutral-color: #E7DFDD;
  --primary-color: #0E0B16;
  --secondary-color: #A239CA;
  --tertiary-color: #4717F6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: var(--neutral-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: var(--primary-color);
  width: 100%;
  color: white;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: -0.1em;
  padding-left: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1 {
  font-size: 3em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  
}

.margin-0-5 {
  margin: 0 5px;
}